/* === footer css ===*/

footer .gray_bg,
footer .navy_bg {
    /* footer */
    padding: 5vh 10vw 40px 200px;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 2;
}

#steam_logo {
    width: 12%;
    height: 12%;
}

#semi_logo {
    width: 7%;
    height: 7%;
    margin-left: 2.5vw;
}

.social_icons {
    /* social media icons */
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    text-align: right;
    margin-left: 50vw;
}

.social_icons a {
    display: flex;
    width: 30px;
    height: 30px;
}

.social_icons svg {
    width: 100%;
    height: 100%;
    fill: var(--white);
    transition: 0.1s;
}

#x:hover {
    /* social media icon hovering */
    fill: var(--twitter);
}

#twitch:hover {
    fill: var(--twitch);
}

#youtube:hover {
    fill: var(--ytube);
}

#steam:hover {
    fill: var(--steam);
}

#discord:hover {
    fill: var(--discord);
}