/* === navbar css ===*/

.navbar {
    /* navbar */
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

nav {
    /* navbar gradient */
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90px;
    top: 0;
    left: 0;
    background: linear-gradient(to bottom,
            rgba(0, 0, 0, 0.9) 0%,
            rgba(0, 0, 0, 0.8) 30%,
            rgba(0, 0, 0, 0.6) 70%,
            rgba(0, 0, 0, 0.5) 100%);
}

nav::after {
    /* navbar gradient 2 */
    content: "";
    position: absolute;
    top: 90px;
    left: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to bottom,
            rgba(0, 0, 0, 0.5) 0%,
            rgba(0, 0, 0, 0.3) 50%,
            rgba(0, 0, 0, 0.1) 70%,
            rgba(0, 0, 0, 0) 100%);
}

nav ul li {
    /* nav text horizontal display */
    list-style: none;
    display: inline-block;
    margin-left: 100px;
}

nav ul li a {
    /* nav text css */
    text-decoration: none;
    color: var(--white);
    font-size: 16px;
    list-style: none;
    display: inline-block;
}

nav ul li a:hover {
    color: var(--orange);
    text-shadow: 0 0 20px var(--white);
}

nav ul li a.active {
    /* nav active text css */
    color: var(--orange);
    font-size: 17px;
    font-weight: bold;
}

#nav_logo {
    /* navbar page logo */
    width: 200px;
}
