/* === universal css ===*/

* {
    /* universal css */
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-shadow: 0 0 10px var(--black);
    cursor: url('../assets/icon/cursor.png') 1 1, auto;
    /* border: 1px solid red; */ /* border for composition */
}

:root {
    --orange: #ea9f13;
    --white: #fff;
    --black: #000;

    --w-glow: rgba(255, 255, 255, 0.404);
    --b-glow: rgba(0, 0, 0, 0.2);

    --bg-navy: #050309;
    --bg-mid: #07040c;
    --bg-gray: #131317;
    --button: #434343;
    --line: #555;

    --twitter: #08a0e9;
    --twitch: #9146ff;
    --ytube: #ff0000;
    --steam: #2a475e;
    --discord: #7289da;
}

h1,
h2,
h3,
p {
    /* text elements */
    color: var(--white);
}

h1 {
    /* content title */
    font-size: 25px;
}

h2 {
    /* paragraph title */
    font-size: 19px;
}

p {
    /* plain text */
    font-family: 'Tecnica';
    font-size: 18px;
    text-align: justify;
    letter-spacing: 0.5px;
}

.divide_line {
    height: 1px;
    background-color: var(--line);
    margin-top: 5px;
    margin-bottom: 20px;
}
