
main h1 {
    padding-top:20vh;
    padding-bottom: 10vh;
}

main p {
    font-size: 1.3rem;
}

.center p {
    padding-left: 15vw;
    padding-right: 15vw;
}

#retrieve_tut .right_layout div{
    transform: translateY(110%);
}

.right_layout img .content_img {
    position: relative;
    top: -7.6rem;
}

#retrieve_tut {
    padding-bottom: 10vh;
}

#extract_tut P {
    padding-top: 5vh;
    padding-bottom: 25vh;
}

#profit_tut p {
    padding-bottom: 5vh;
}

.center .content_img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40vw;
}