
main h1 {
    padding-top:20vh;
    padding-bottom: 10vh;
}

#retrieve_tut .right_layout div{
    transform: translateY(110%);
}

#extract_tut p {
    padding-top: 5vh;
    padding-bottom: 25vh;
    text-align: center;
}

#profit_tut img{
    padding-top: 5vh;
    padding-bottom: 25vh;
}

#profit_tut p {
    text-align: center;
}

.right_layout img.content_img {
    position: relative;
    top: -7.6rem;
}

main p {
    font-size: 1.24rem;
}

main img