
.head_icon {
    position: fixed;
    bottom: 40px;
    left: 45px;
    width: 100px;
    height: 100px;
    z-index: 9999;
    cursor: pointer;
}

.head_icon img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.open_img {
    opacity: 0;
}

.head_icon:hover .open_img {
    opacity: 1;
}

.head_icon:hover .closed_img {
    opacity: 0;
}